<!doctype html>
<html>
  <head>
    <title>BroGhost - {{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <header>
      <h1>{{ title }}</h1>
    </header>
    <nav>{% block nav %}{% endblock nav %}</nav>
    <main>{% block main %}{% endblock main %}</main>
  </body>
</html>
