{% extends '_layout.jinja2.html' %}

{% block nav %}
    <a href="{{back_url}}">Retour</a>
{% endblock nav %}

{% block main %}
    {% for name, logs in data.items() %}
    <article>
        <h2>{{name}}</h2>
        <nav>
            <ul>
                
                {% for page in get_pagination_range(pagination, name) %}
                    {% if page != pagination[name]['page'] %}
                        <li><a href="{{url_for('detail', tag=tag, group=group, name=subname, start=start, stop=stop, time=time, status=status, pagination=update_pagination(pagination, name, page), back_url=back_url)}}">{{page}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
        {% for log in logs %}
            <article>
                <h3>{{log.time[:19]}} : {{log.tag.name}}</h3>
                <details>
                    <summary>Details</summary>
                    <ul>
                    {% for (key, value) in log.items() %}
                        {% if value.items %}
                            <li><b>{{ key }}</b> : </li>
                            <ul>
                            {% for (subkey, subvalue) in value.items() %}
                                <li><b>{{ subkey }}</b> : {{ subvalue }}</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <li><b>{{ key }}</b> : {{ value }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </details>
            </article>
        {% endfor %}
    </article>
    {% endfor %}
{% endblock main %}
