{% extends '_layout.jinja2.html' %}

{% macro timeline(times, level, uptime, group, name) %}
  {% if (times | length) < 200 %}
    <div class="status-bar">
      {% for time, statuses in times.items() %}
        {% set status = statuses.pop('status') %}
        {% set start = statuses.pop('start') %}
        {% set stop = statuses.pop('stop') %}
          <div class="status" data-status="{{ status }}">
            <aside>{{ status }}</aside>
            <section>
              <h{{ level }}>{{ time }}</h{{ level }}>
              <dl>
                {% for status, value in statuses.items() %}
                  <dt>{{ 'OK' if status == 'info' else status.title() }}</dt>
                <dd><a href="{{ url_for('detail', tag=original_tag, group=group, name=name, start=start, stop=stop, time=time, status=status, back_url=request.url ) }}">{{ value }}</a></dd>
              {% endfor %}
              </dl>
            </section>
          </div>
      {% endfor %}
    </div>
  {% endif %}
  <dl class="legend">
    <dt>Start</dt>
    <dd>
      {% if original_start and original_stop %}
        {{ original_start.replace('T', ' ').rsplit(':', 1)[0] }}
      {% else %}
        {{ original_delta[:-1] }} {{ 'hours' if 'h' in original_delta else 'days' }} ago
      {% endif %}
    </dd>
    <dt>Stop</dt>
    <dd>
      {% if original_start and original_stop %}
        {{ original_stop.replace('T', ' ').rsplit(':', 1)[0] }}
      {% else %}
        {{ 'Now' if 'h' in original_delta else 'Today' }}
      {% endif %}
    </dd>
    <dt>Uptime</dt>
    <dd>{{ 'N/A' if uptime == None else '{:.2f}'.format(uptime) }}%</dd>
  </dl>
{% endmacro %}

{% block main %}
  {% for group, times in data.items() | sort %}
    <article>
      <h2>{{ group }}</h2>
      {{ timeline(times, level=3, uptime=uptimes[group], group=group) }}
      <details>
        <summary>Details</summary>
        {% for name, times in group_data[group].items() %}
          <article>
            <h3>{{ name }}</h3>
            {{ timeline(times, level=4, uptime=group_uptimes[group][name], group=group, name=name )}}
          </article>
        {% endfor %}
      </details>
    </article>
  {% endfor %}
{% endblock main %}


{% block nav %}
  <ul>
    {% for delta in ('8h', '24h', '7d', '30d', '90d') %}
      <li {{ 'class="active"' if original_delta == delta }}>
        <a href="{{ url_for('index', tag=original_tag, delta=delta, start=original_start, stop=original_stop, step=original_step) }}">
          {{ delta }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <ul>
    {% for name, tag in tags.items() %}
      <li {{ 'class="active"' if original_tag == tag }}>
        <a href="{{ url_for('index', tag=tag, delta=original_delta, start=original_start, stop=original_stop, step=original_step) }}">
          {{ name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock nav %}